.cabecalho {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  z-index: 2000;
}

.material-symbols-outlined {
  font-size: 36px;
  user-select: none;
  cursor: pointer;
}

.cabecalho-nav-perfil {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background-image: url("../../../../../public/assets/img/perfil.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}


.sidebar {
  position: fixed;
  height: 100vh;
  width: 20%;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.sidebar.ativo {
  transform: translateX(0);
  transition: transform 0.3s ease;
}

.sidebar.inativo {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.cabecalho-nav-close {
    padding: 20px;
}

.sidebar-list-container {
  width: 100%;
  background-color: hsl(0, 0%, 80%);
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
}

.sidebar-list-item {
  width: 100%;
  padding: 20px;
}

.sidebar .logo_ford {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.sidebar .logo_ford img{
  
  height: auto;
  width: 80%;

}
.cabecalho-nav-close {
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

.sidebar-list-item.ativo {
  border-left: 5px solid orange;
}
