<body class="principal">
    <section class="secao-imagem">
        <img src="assets/img/ranger.png" alt="" class="secao-imagem-foto">
    </section>
    <section class="secao-login">
        <div class="secao-login-container">
            <img src="assets/img/ford.png" alt="" class="secao-login-logo">
            <form action="#" class="secao-login-forms">
                <div class="secao-login-usuario">
                    <input type="text" placeholder="Digite seu usuário" class="secao-login-input">
                    <span class="material-symbols-outlined secao-login-icon">person</span>
                </div>
                <div class="secao-login-senha">
                    <input type="password" placeholder="Digite sua senha" class="secao-login-input">
                    <span class="material-symbols-outlined secao-login-icon">lock</span>
                </div>
                <div class="secao-login-container-toggle">
                    <label for="lembrar" class="secao-login-container-toggle-label">Lembre-se de mim</label>
                    <input type="checkbox" name="lembrar" id="lembrar">
                </div>
                <button class="secao-login-botao">Entrar</button>
            </form>
        </div>
    </section>
</body>
